:root{
    --accent-color:#FF0043;
    --button-color:#FF0043;
    --text-color:#00194A;
    --button-text-color:#FFFFFF;
    --features-list-bcg:#FFFFFF;
}

body{
    font-family: "Roboto";
}

.container{
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    outline: solid 2px var(--accent-color);
}

.header{
    padding-top: 50px;
    padding-bottom: 49px;
}

.header-logo{
    color: var(--accent-color);
font-size: 20px;
font-weight: 700;
line-height: 1.15;
margin-right: 922px;
}

.header-btn{
    color: var(--button-text-color);
font-size: 14px;
font-weight: 700;
line-height: 1.14;
border-radius: 23px;
background: var(--button-color);
box-shadow: 0px 5px 50px 0px rgba(255, 0, 67, 0.10);
padding: 15px 21px 15px 20px;
border: none;
}

.hero{
    padding-bottom: 55px;
}

.hero-cover{
    display: flex;
}

.hero-title{
    width: 552px;
    color: var(--text-color);
font-size: 60px;
font-weight: 500;
line-height: 1.41; /* 141.667% */
margin-top: 107px;
margin-bottom: 20px;
}

.hero-text{
    width: 537px;
    color: var(--text-color);
font-size: 18px;
font-weight: 300;
line-height: 28px; /* 155.556% */
margin-bottom: 50px;
}

.hero-btn{
    color: var(--button-text-color);
font-family: "Source Code Pro";
font-size: 16px;
font-weight: 700;
line-height: normal;
border-radius: 30px;
border: none;
background: var(--button-color);
box-shadow: 0px 5px 50px 0px rgba(255, 0, 67, 0.10);
padding: 20px 70px 20px 62px;
margin-bottom: 103px;
}

.hero-image{
    width: 655px;
height: 604px;
flex-shrink: 0;
}

.features{
    padding-top: 80px;
    padding-bottom: 151px;
}

.features-list{
    display: flex;
    gap: 30px;
}

.features-item{
    border-radius: 10px;
background: var(--features-list-bcg);
box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.03);
width: 360px;
height: 272px;
padding: 30px;
}

.features-icon{
    width: 60px;
height: 60px;
fill: var(--accent-color);
}

.features-item:last-child>.features-icon{
    width: 102px;
height: 60px;
fill: var(--button-color)
}

.features-title{
    color: var(--text-color);
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: 1.18;
margin-top: 20px;
margin-bottom: 15px;
}

.features-desc{
    width: 300px;
    color: var(--text-color);
font-size: 22px;
font-weight: 500;
line-height: 1.62;
margin-bottom: 21px;
}

.features-link{
    color: var(--text-color);
font-size: 16px;
font-style: normal;

font-weight: 400;
line-height: 1.18;
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: none;
text-decoration-thickness: auto;
text-underline-offset: auto;
text-underline-position: from-font;
margin-bottom: 30px;
}

.feature-cloud{
    width: 21px;
height: 20px;
fill: var(--accent-color);
}