.features{
    padding-top: 80px;
    padding-bottom: 151px;

    &__list{
    display: flex;
    gap: 30px;
}

&__item{
    border-radius: 10px;
background: var(--features-list-bcg);
box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.03);
width: 360px;
height: 272px;
padding: 30px;
}

&__icon{
    width: 60px;
height: 60px;
fill: var(--accent-color);
}

&__item:last-child>.features__icon{
    width: 102px;
height: 60px;
fill: var(--button-color)
}

&__title{
    color: var(--text-color);
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: 1.18;
margin-top: 20px;
margin-bottom: 15px;
}

&__desc{
    width: 300px;
    color: var(--text-color);
font-size: 22px;
font-weight: 500;
line-height: 1.62;
margin-bottom: 21px;
}

&__link{
    color: var(--text-color);
font-size: 16px;
font-style: normal;

font-weight: 400;
line-height: 1.18;
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: none;
text-decoration-thickness: auto;
text-underline-offset: auto;
text-underline-position: from-font;
margin-bottom: 30px;
}

&__cloud{
    width: 21px;
height: 20px;
fill: var(--accent-color);
}
    
}