.hero{
    padding-bottom: 55px;

    &__cover{
    display: flex;
    flex-direction: column;
    @media screen and (min-width:768px) {
       flex-direction: column;
    }
    @media screen and (min-width:1170px) {
       flex-direction: row;
    }
}

&__title{
    color: var(--text-color);
font-size: 60px;
font-weight: 500;
line-height: 1.41; /* 141.667% */
margin-top: 107px;
margin-bottom: 20px;
@media screen and (min-width:768px) {
       width: 552px;
    }
}

&__text{
    color: var(--text-color);
font-size: 18px;
font-weight: 300;
line-height: 28px; /* 155.556% */
margin-bottom: 50px;
@media screen and (min-width:768px) {
       width: 537px;
    }
}

&__btn{
    color: #FFFFFF;
font-family: "Source Code Pro";
font-size: 16px;
font-weight: 700;
line-height: normal;
border-radius: 30px;
border: none;
background: #FF0043;
box-shadow: 0px 5px 50px 0px rgba(255, 0, 67, 0.10);
padding: 20px 70px 20px 62px;
margin-bottom: 103px;
}

&__image{
    width: 470px;
height: 604px;
flex-shrink: 0;
@media screen and (min-width:768px) {
       width: 537px;
    }
}
}
