a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

h1, h2, h3, p {
  margin: 0;
}

.container {
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: solid 2px #FF0043;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1170px) {
  .container {
    width: 1170px;
  }
}

body {
  font-family: "Roboto";
}

.header {
  padding-top: 50px;
  padding-bottom: 49px;
}
.header__logo {
  color: #FF0043;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  margin-right: 260px;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 550px;
  }
}
@media screen and (min-width: 1170px) {
  .header__logo {
    margin-right: 922px;
  }
}
.header__btn {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  border-radius: 23px;
  background-color: #FF0043;
  box-shadow: 0px 5px 50px 0px rgba(255, 0, 67, 0.1);
  padding: 15px 21px 15px 20px;
  border: none;
}

.hero {
  padding-bottom: 55px;
}
.hero__cover {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .hero__cover {
    flex-direction: column;
  }
}
@media screen and (min-width: 1170px) {
  .hero__cover {
    flex-direction: row;
  }
}
.hero__title {
  color: var(--text-color);
  font-size: 60px;
  font-weight: 500;
  line-height: 1.41; /* 141.667% */
  margin-top: 107px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    width: 552px;
  }
}
.hero__text {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 300;
  line-height: 28px; /* 155.556% */
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .hero__text {
    width: 537px;
  }
}
.hero__btn {
  color: #FFFFFF;
  font-family: "Source Code Pro";
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  border-radius: 30px;
  border: none;
  background: #FF0043;
  box-shadow: 0px 5px 50px 0px rgba(255, 0, 67, 0.1);
  padding: 20px 70px 20px 62px;
  margin-bottom: 103px;
}
.hero__image {
  width: 470px;
  height: 604px;
  flex-shrink: 0;
}
@media screen and (min-width: 768px) {
  .hero__image {
    width: 537px;
  }
}

.features {
  padding-top: 80px;
  padding-bottom: 151px;
}
.features__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .features__list {
    gap: 15px;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1170px) {
  .features__list {
    display: flex;
    gap: 30px;
  }
}
.features__item {
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.03);
  width: 360px;
  height: 272px;
  padding: 30px;
}
.features__icon {
  width: 60px;
  height: 60px;
  fill: #FF0043;
}
.features__item:last-child > .features__icon {
  width: 102px;
  height: 60px;
  fill: #FF0043;
}
.features__title {
  color: #00194A;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.18;
  margin-top: 20px;
  margin-bottom: 15px;
}
.features__desc {
  width: 300px;
  color: #00194A;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.62; /* 162.5% */
  margin-bottom: 21px;
}
.features__link {
  color: #848b9a;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.18;
  text-decoration-line: underline;
  text-decoration-style: solid;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.features__cloud {
  width: 21px;
  height: 20px;
  fill: #FF0043;
}

.messaging {
  padding-bottom: 130px;
}
.messaging__boxes {
  display: flex;
  flex-direction: column-reverse;
}
@media screen and (min-width: 1170px) {
  .messaging__boxes {
    flex-direction: row;
  }
}
.messaging__img {
  width: 381px;
  height: 508px;
  border-radius: 8px;
}
.messaging__images {
  position: relative;
}
.messaging__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: absolute;
  top: 294px;
  left: 60px;
}
@media screen and (min-width: 1170px) {
  .messaging__list {
    top: 294px;
    left: 132px;
  }
}
.messaging__item {
  padding: 10px 10px 15px 20px;
  display: flex;
  align-items: center;
  width: 400px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.03);
}
.messaging__image {
  width: 60px;
  height: 60px;
}
.messaging__wrap {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 15px;
  margin-right: 21px;
}
.messaging__title {
  color: #00194A;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.messaging__text {
  color: #00194A;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.messaging__box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
}
.messaging__time {
  color: #00194A;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.messaging__number {
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 5px;
  border-radius: 8px;
  background: #FF0043;
  width: 24px;
  height: 24px;
}
.messaging__desc {
  margin-left: 0;
  margin-right: 0;
}
@media screen and (min-width: 768px) {
  .messaging__desc {
    margin-left: 0px;
    margin-top: 162px;
  }
}
@media screen and (min-width: 1170px) {
  .messaging__desc {
    margin-left: 217px;
    margin-top: 162px;
  }
}
.messaging__heading {
  color: #00194A;
  font-family: Roboto;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.42; /* 142.857% */
  width: 466px;
  margin-bottom: 30px;
}
.messaging__subtext {
  color: #00194A;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.55; /* 155.556% */
  opacity: 0.8;
  width: 466px;
  margin-bottom: 20px;
}

.sharing {
  padding-bottom: 175px;
}
.sharing__box {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1170px) {
  .sharing__box {
    flex-direction: row;
  }
}
.sharing__text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.sharing__title {
  color: #00194A;
  font-family: Roboto;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.42; /* 142.857% */
  margin-top: 115px;
  width: 466px;
}
.sharing__desc {
  color: #00194A;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.55; /* 155.556% */
  width: 466px;
}
.sharing__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.sharing__item {
  padding: 20px 30px;
}
.sharing__icon {
  width: 60px;
  height: 60px;
  fill: #FF0043;
}
.sharing__heading {
  color: #00194A;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 15px;
}
.sharing__subtitle {
  color: #00194A;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.64; /* 164.286% */
  width: 220px;
  opacity: 0.8;
}

.keep {
  padding-bottom: 100px;
}
.keep__box {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1170px) {
  .keep__box {
    flex-direction: row;
  }
}
.keep__images {
  position: relative;
}
.keep__img {
  width: 381px;
  height: 508px;
  border-radius: 8px;
}
.keep__position {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 224px;
  left: 60px;
}
@media screen and (min-width: 1170px) {
  .keep__position {
    left: 139px;
  }
}
.keep__desc {
  margin-left: 0;
  margin-top: 140px;
}
@media screen and (min-width: 768px) {
  .keep__desc {
    margin-left: 0px;
  }
}
@media screen and (min-width: 1170px) {
  .keep__desc {
    margin-left: 222px;
    margin-top: 192px;
  }
}
.keep__title {
  color: #00194a;
  font-family: Roboto;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.42; /* 142.857% */
  width: 466px;
  margin-bottom: 30px;
}
.keep__text {
  color: #00194a;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.55; /* 155.556% */
  opacity: 0.8;
  width: 466px;
}

.start {
  text-align: center;
  padding-bottom: 80px;
}
.start__box {
  border-radius: 25px;
  background: #00194A;
  padding: 50px 0px;
}
@media screen and (min-width: 1170px) {
  .start__box {
    padding: 50px 280px;
  }
}
.start__title {
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.42; /* 142.857% */
  margin-bottom: 30px;
}
.start__text {
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.55; /* 155.556% */
  margin-bottom: 50px;
}
.start__btn {
  color: #FFF;
  font-family: "Source Code Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 30px;
  background: #FF0043;
  padding: 20px 51px;
  border: none;
}

.footer {
  padding-bottom: 80px;
}
.footer__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__text {
  color: #00194A;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.footer__list {
  display: flex;
  gap: 40px;
}
.footer__link {
  color: #00194A;
  text-align: right;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}/*# sourceMappingURL=main.css.map */